:root {
    --accent-color: white; font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

.header-nav .logo img {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.header-nav {
    background-color: black;
}

.header-nav .menu {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.header-nav .menu a {
    text-decoration: none;
    color: var(--accent-color);
    padding: 3px;
    border: 1px solid transparent;
}

.header-nav .menu a:hover {
    border: 1px solid var(--accent-color);
}

@media (min-width: 769px) {
    .header-nav {
        display: flex;
        align-items: center;
    }
}

.banner {
    background-image: url(../img/banner.jpg);
    background-position: top;
    background-size: cover;
    min-height: 639px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner h1 {
    font-size: 3rem;
    color: var(--accent-color);
}

/* Controls */
.button {
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.7s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    background-color: black;
    color: white;
}
