body {
    font-family: 'Open Sans', sans-serif;
    max-width: 980px;
    margin: 0 auto;
}

:root {
    --main-color: black;

}

.header {
    width: 100%;
    padding-left: 15px;
    padding-right: 15 px;
    padding-top: 25px;
    box-sizing: border-box;
}

.header-nav .menu {
    display: flex;
    justify-content: space-around;
    
}

.header-nav .menu a {
    text-decoration: none;
    color: var(--main-color);
    padding: 5px;
    border: 1px solid transparent;
}

.header-nav .menu a:hover {
    border: 1px solid var(--main-color);
}


.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.logo-text{
    font-size: 24px;
    color: #202020;
    
}
}

@media (min-width: 769px){
    .header-nav:{
        display: flex;
        
    }
}